<img src="background.jpg" id="pic1" style="position:absolute; width:100vw;" />

<div style="position:relative; width:30vw;" id="container">
<input type="text" id="search" style="position:relative; width:20vw; right:20vw; bottom:20vh;" placeholder="Search for a Pokemon"><button type="button" id="button" style="position:relative; right:20vw; bottom:20vh;">Search</button>

<a href="#" style="position:relative; display:block; right:15vw; bottom:10vh; font-size:20px;" id="list">My Favorites</a>
</div>

<script>
$(document).ready(function(){

	var wh = $(window).height();
	var ww = $(window).width();
	console.log(wh, ww);
	

	$('#pic1').css('height', wh+'px');
	$('#pic1').css('width', ww+'px');

	$('#search').css('border', '2px solid red');

	$('#container').css('top', wh/1.75 + 'px');
	$('#container').css('left', ww/1.75 + 'px');

	$('#button').on('click', function(){
		var pokemon = $('#search').val();
		location.href = '/' + pokemon;
	})

	$('#list').on('click', function(){
		$.get('/total', function(data){

			$('#list').remove();
			$('#button').remove();
			$('#search').remove();
			$('#container').append('<ul id="unorderedList" style="position:relative; right: 20vw; bottom:20vh;"></ul>');

			for(i=0; i<data.length; i++){
				var pokemon = data[i].name;
				$('#unorderedList').append('<li><a href="/' + pokemon + '">' + pokemon + '</a></li>');
			}

		})
	})

})
</script>