<img src="pokedex.png" id="pic2" style="position:absolute;" />
<img src="#" id="pic3" style="position:relative; width:30vw; height:30vw; top:5vw; left:5vw;" />
<p style="position:relative; top:20vh; left:8vw;" id="text"></p>
<p style="position:relative; bottom:8vh; left:70vw;" id="weight"></p>
<p style="position:relative; bottom:22vh; left:70vw;" id="height"></p>
<p style="position:relative; bottom:39vh; left:60vw;" id="category"></p>
<p style="position:relative; bottom:44vh; left:80vw" id="ability"></p>
<p style="position:relative; bottom:62vh; left:50vw;" id="number"></p>
<a href="#" style="position:relative; bottom:48vh; left:44vw;" id="favorite">Favorite Me!</a>
<a href="/" style="position:relative; bottom:53vh; left:39vw;" id="home">Home!</a>
<script>

var wh = $(window).height();
var ww = $(window).width();
	

$('#pic2').css('height', wh+'px');
$('#pic2').css('width', ww+'px');

$(document).ready(function(){
	var link = location.href;
	link = link.substring(22, link.length);
	//console.log(link);

	$.post('/pokemon', {pokemon: link}, function(data){
		console.log(data);
		$('#pic3').attr('src', data.link);
		$('#text').html(data.text);
		$('#weight').html(data.weight);
		$('#height').html(data.height);
		$('#category').html('Category: ' + data.category);
		$('#ability').html('Ability: ' + data.ability);
		$('#number').html(link + ' ' + data.id);
	})

	$('#favorite').on('click', function(){
		$.post('/favorite', {pokemon: link}, function(data){
			alert(data);
			$('#favorite').css('pointer-events', 'none');
			$('#favorite').css('cursor', 'default');
		})
	})
})
</script>